@import "tailwindcss";

@theme {
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-blue: #0000ff;
    --color-bg: #111111;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: rgba(255, 255, 255, 0.1);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}
